
.card{
    background-repeat: no-repeat; 
    background-size: 150% 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.5);
    min-width: 250px;
    border-radius: 10px;
    max-width: 300px;
    min-height: 400px;
}
.cityDisplay{
    padding: 10px;
    font-family: "Kablammo", system-ui;
    font-size: 60px;
}

    .tempDisplay{
       font-size: 32px;
    }
    .humidityDisplay{
        font-size: 18px;
    }
    .descDisplay{
        font-size: 24px;
    }
    .weatherEmoji{
        font-size: 62px;
    }
    .tipsDisplay{
        font-size: 16px;
    }
    .errorDisplay{
        font-size: 32px;
    }