body{
    font-family: Arial, sans-serif;
    background: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
}
.weatherForm{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.cityInput{
    padding: 10px;
    font-size: 32px;
    font-weight: 600;
    border-radius: 10px;
    margin: 10px;
    max-width: 250px;
}
button[type="submit"]{
    padding: 20px 30px;
    font-weight: 600;
    font-size: 28px;
    background: hsl(122, 39%, 40%);
    color: white;
    border: none;
    border-radius: 10px;
    cursor:pointer;
}
.card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.5);
    min-width: 250px;
    border-radius: 10px;
    max-width: 300px;
    min-height: 500px;
}
.cityDisplay{
    padding: 10px;
    font-family: "Kablammo", system-ui;
    font-size: 60px;
}

    .tempDisplay{
       font-size: 32px;
    }
    .humidityDisplay{
        font-size: 18px;
    }
    .descDisplay{
        font-size: 24px;
    }
    .weatherEmoji{
        font-size: 62px;
    }
    .tipsDisplay{
        font-size: 16px;
    }
    .errorDisplay{
        font-size: 32px;
    }