.weatherForm{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.cityInput{
    padding: 10px;
    font-size: 32px;
    font-weight: 600;
    border-radius: 10px;
    margin: 10px;
    max-width: 250px;
}
button[type="submit"]{
    padding: 20px 30px;
    font-weight: 600;
    font-size: 28px;
    background: hsl(212, 64%, 56%);
    color: white;
    border: none;
    border-radius: 10px;
    cursor:pointer;
}